<header class="navbar navbar-expand navbar-dark bg-dark mb-4">
  <a
    class="navbar-brand"
    routerLink="/"
  >
    Hidden brand
  </a>
  <ul class="navbar-nav ml-auto mt-2">
    <li
      class="nav-item"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}"
    >
      <a
        class="nav-link text"
        routerLink="/"
      >
        Home
      </a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a
        class="nav-link text"
        routerLink="/todo"
      >
        Todo List
      </a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a
        class="nav-link text"
        routerLink="/mock-todo"
      >
        Mock Todo List
      </a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a
        class="nav-link text"
        routerLink="/weather"
      >
        Weather
      </a>
    </li>
    <li class="nav-item">
      <button
        class="btn btn-sm btn-success"
        (click)="auth.login()"
      >
        Login
      </button>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <button
        class="btn btn-sm btn-warning"
        (click)="auth.logout()"
      >
        Logout
      </button>
    </li>
  </ul>
</header>
